@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d1vvg2');
  src:  url('fonts/icomoon.eot?d1vvg2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d1vvg2') format('truetype'),
    url('fonts/icomoon.woff?d1vvg2') format('woff'),
    url('fonts/icomoon.svg?d1vvg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open-link:before {
  content: "\e913";
}
.icon-link:before {
  content: "\e912";
}
.icon-calendar:before {
  content: "\e900";
  color: #1b80c9;
}
.icon-heart:before {
  content: "\e901";
  color: #ce596b;
}
.icon-minus-round:before {
  content: "\e902";
}
.icon-plus-round:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-compare:before {
  content: "\e905";
}
.icon-reply:before {
  content: "\e906";
}
.icon-map:before {
  content: "\e907";
  color: #d8dce0;
}
.icon-list:before {
  content: "\e908";
  color: #d8dce0;
}
.icon-view-data:before {
  content: "\e909";
}
.icon-field-notes:before {
  content: "\e90a";
  color: #1b80c9;
}
.icon-stations:before {
  content: "\e90b";
  color: #1b80c9;
}
.icon-projects:before {
  content: "\e90c";
  color: #1b80c9;
}
.icon-time:before {
  content: "\e90d";
  color: #1b80c9;
}
.icon-notification:before {
  content: "\e90e";
  color: #1b80c9;
}
.icon-location:before {
  content: "\e90f";
  color: #1b80c9;
}
.icon-menu:before {
  content: "\e910";
}
.icon-tick:before {
  content: "\e911";
}
