@import '/gridle/gridle-flex';

@include gridle_setup((
	context : 16,
	gutter-width : 20px,
	states-classes : true
));

@include gridle_register_state ( mobile , (
    max-width : 640px 
));
@include gridle_register_state ( tablet , (
    max-width : 940px 
));