@import './mixins.scss';

.form {
    width: 460px;
    background-color: white;
    text-align: center;
    padding: 45px 80px 45px;
    box-sizing: border-box;
    max-width: calc(100vw - 20px);

    @include bp-down($xs) {
        padding: 15px 10px 25px;
        width: 330px;
    }

    &--success {
        padding-top: 58px;

        @include bp-down($xs) {
            padding-top: 28px;
        }
    }

    &-container {
        background-image: linear-gradient(#52b5e4, #1b80c9);
        padding: 40px 0;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 100vh;
        @include flex(center, center);

        @include bp-down($xs) {
            padding: 40px 0;
            justify-content: flex-start;
        }
    }

    &-header {

        &-logo {
            width: 211px;
            margin-bottom: 82px;

            @include bp-down($xs) {
                width: 117px;
                margin-bottom: 30px;
            }
        }

        &-icon {
            margin-top: 12px;
        }
    }

    &-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 35px;

        @include bp-down($xs) {
            font-size: 20px;
            margin-top: 10px;
        }

        + .form-subtitle {
            margin: -10px 0 30px;

            @include bp-down($xs) {
                margin-top: -22px;
            }
        }

        .form--success & {
            @include bp-down($xs) {
                margin-top: 20px;
            }
        }
    }

    &-subtitle {
        font-weight: normal;
        font-size: 16px;

        @include bp-down($xs) {
            font-size: 14px;
        }
    }

    &-submit {
        margin-top: 45px;
        margin-bottom: 25px;
        width: 100%;
        max-width: 300px;
        height: 45px;
        background-color: #ce596b;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 900;
        border-radius: 3px;
        letter-spacing: 0.1px;
        font-family: Avenir, Helvetica, Arial, sans-serif;

        @include bp-down($xs) {
            max-width: unset;
        }
    }

    &-link {
        display: block;
        cursor: pointer;
        margin: 5px auto 0;
        font-size: 14px;
        font-weight: 500;
        max-width: 300px;

        &-recover {
            text-align: right;
            max-width: 300px;
            margin: 0 auto;
        }
    }

    &-policy {
        font-size: 13px;
        line-height: 1.23;
        text-align: left;
        margin-top: 15px;
    }

    &-group {
        width: 100%;
        max-width: 298px;
        margin: 25px auto 0 auto;
    }

    &-errors {
        color: #c42c44;
        font-size: 14px;
        text-align: left;
    }

    .login-failed {
        color: #c42c44;
        font-weight: bold;
        width: 50%;
        margin: auto;
    }
}

.form {
    &-edit {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border: 1px solid #d8dce0;
        background: white;
        padding: 0 22px 14px;
        width: 700px;
        max-width: 100%;
        position: relative;
        text-align: left;

        @include bp-down($md) {
            max-width: 500px;
        }

        @include bp-down($xs) {
            padding: 0 20px 14px;
            width: 100%;
        }
    }
}

.bold {
    font-weight: bold;
}
