@import "mixins";

.flex {
    display: flex;

    &-al-center {
        align-items: center;
    }

    &-space-between {
        justify-content: space-between;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &.al-center {
        align-items: center;
    }
}

.main-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fcfcfc;
    text-align: left;
    padding: 65px 87px 60px;

    @include bp-down($lg) {
        padding: 45px 45px 60px;
        align-items: center;
    }

    @include bp-down($sm) {
        padding: 45px 20px 30px;
    }

    @include bp-down($xs) {
        padding: 0;
    }
}

.container-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1080px;
    text-align: left;
    padding: 40px 90px;

    @include bp-down($lg) {
        padding: 40px 60px;
    }

    @include bp-down($md) {
        padding: 30px 30px;
    }

    @include bp-down($xs) {
        padding: 20px 10px;
    }
}

.ml {
    &-10 {
        margin-left: 10px;
    }
}

.h-100 {
    height: 100%;
}

.big-map {
    max-width: 100%;
    padding: 0;
}

.w-100 {
    width: 100%;
}
