@import "./variables";
@import "./mixins";

.notes-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    background: #fff;
    cursor: initial;

    @include bp-down($md) {
        padding: 25px 10px;
        border-bottom: 1px solid var(--color-border);
    }
}

.note-editor {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 15px 20px 15px;

    @include bp-down($xs) {
        border: 0;
        padding: 0;
    }
}

.field {
    margin-top: 10px;
    margin-bottom: 10px;

    @include bp-down($xs) {
        margin-top: 0;
        margin-bottom: 4px;
    }
}

.header {
    @include flex(center);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-border);

    @include bp-down($md) {
        border: 0;
        padding: 0;
    }

    @include bp-down($xs) {
        flex-wrap: wrap;
    }
}

.header .name {
    color: #2c3e50;
    font-size: 20px;
    font-weight: 500;

    @include bp-down($xs) {
        font-size: 18px;
    }
}

.header .completed {
    margin-left: 10px;
    color: #0a67aa;
    font-size: 14px;
    font-weight: 600;

    @include bp-down($xs) {
        order: 3;
        margin-left: 0;
        flex-basis: 100%;
        font-size: 12px;
    }

    body.floodnet & {
        color: #6a6d71;
        font-size: 13px;
        font-weight: 500;
    }
}

.header .buttons {
    margin-left: auto;
    display: flex;
}

.site-notes {
    margin-top: 30px;

    @include bp-down($sm) {
        margin-top: 18px;
    }
}

.button {
    min-width: 80px;
    padding: 0 10px;
    height: 33px;
    border-radius: 3px;
    border: solid 1px #cccdcf;
    background-color: #ffffff;
    font-size: 14px;
    font-family: var(--font-family-bold);
    letter-spacing: 0.08px;
    color: #2c3e50;
    margin-left: 7px;
    margin-bottom: 0;
    user-select: none;
    @include flex(center, center);

    @include bp-down($xs) {
        height: 25px;
        transform: translateY(8px);
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

