@import "mixins";

.details .details-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
    line-height: 1.5;

    @include bp-down($xs) {
        padding-bottom: 20px;
    }
}
.details .details-left {
    padding-right: 20px;
    flex-grow: 1;
    flex: 2;

    @include bp-down($xs) {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
}
.details .details-right {
    flex-grow: 1;
    flex: 1;
}

.details {

    &-row {
        margin-bottom: 5px;
        white-space: nowrap;
        @include flex(center);

        @include bp-down($xs) {
            margin-bottom: 2px;
        }
    }

    &-icon {
        width: 20px;
    }
}

