@import "mixins";

.details .details-top {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    line-height: 1.5;

    @include bp-down($xl) {
        flex-wrap: wrap;
    }

    @include bp-down($xs) {
        padding-bottom: 20px;
    }
}
.details .details-left {
    padding-right: 20px;
    flex-basis: calc(60% - 20px);

    @include bp-down($md) {
        flex: 1;
        flex-basis: calc(50% - 20px);
    }

    @include bp-down($xs) {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
}
.details .details-right {
    flex-basis: 40%;

    @include bp-down($md) {
        flex-basis: 50%;
    }
}

.details {

    &-row {
        margin-bottom: 5px;
        font-family: $font-family-light;
        white-space: nowrap;
        @include flex(center);

        @include bp-down($xs) {
            margin-bottom: 2px;
        }

        &.has-tooltip {
            position: relative;
            padding-right: 24px;

            &:after {
                content: '';
                background: url('../../assets/icon-tooltip.svg') no-repeat center center;
                background-size: contain;
                width: 14px;
                height: 14px;
                @include position(absolute, 50% 0 null null);
                transform: translateY(-50%);
            }
        }

        span {
            cursor: pointer;
        }
    }

    &-icon {
        width: 20px;
        display: flex;
    }

    > .right {
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        flex: 2;
    }
}

.photo-container {
    margin-bottom: 10px;
    display: flex;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

