@import "mixins";

.details .details-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
    line-height: 1.5;

    @include bp-down($xs) {
        padding-bottom: 20px;
    }
}
.details .details-left {
    padding-right: 20px;
    flex: 2;

    @include bp-down($md) {
        flex: 1;
        flex-basis: calc(50% - 20px);
    }

    @include bp-down($xs) {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
}
.details .details-right {
    flex: 1;

    @include bp-down($md) {
        flex-basis: 50%;
    }
}

.details {

    &-row {
        margin-bottom: 5px;
        white-space: nowrap;
        font-family: $font-family-light;
        @include flex(center);

        @include bp-down($xs) {
            margin-bottom: 2px;
        }
    }

    &-icon {
        width: 20px;
        display: flex;
    }

    > .right {
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        flex: 2;
    }
}

.photo-container {
    margin-bottom: 10px;
    display: flex;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

