$z-index-top: 1;
$z-index-header: 100;
$z-index-menu: 1000;

$xs: 500;
$sm: 768;
$md: 1040;
$lg: 1280;
$xl: 1440;

$color-danger: #c42c44;

$font-family-normal: Avenir, Helvetica, sans-serif;
$font-family-light: Avenir Light, Helvetica, sans-serif;
$font-family-bold: Avenir Heavy, Helvetica, sans-serif;
