$z-index-top: 1;
$z-index-header: 100;
$z-index-menu: 1000;

$xs: 500;
$sm: 768;
$md: 1040;
$lg: 1280;
$xl: 1440;

$color-danger: #c42c44;
$color-border: #d8dce0;

// floodnet
$color-floodnet-dark: #042d36;
$color-floodnet-mint: #BEF3E7;
$color-floodnet-light: #E7EEEC;

$font-family-normal: Avenir, Helvetica, sans-serif;
$font-family-light: Avenir Light, Helvetica, sans-serif;
$font-family-bold: Avenir Heavy, Helvetica, sans-serif;

$font-family-floodnet-extra-light: Public Sans Extra Light, Helvetica, sans-serif;
$font-family-floodnet-bold: Public Sans Bold, Helvetica, sans-serif;
