@import "mixins";

.button-solid {
    width: 240px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #ce596b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox {
    position: relative;
    padding-left: 30px;
    margin: 7px 0;
    cursor: pointer;
    min-height: 20px;
    @include flex(center);

    input {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    &-btn {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        background: #f2f4f7;
        @include position(absolute, 0 null null 0);
    }

    input:checked ~ .checkbox-btn {
        &:after {
            @include position(absolute, 0 null null 0);
            content: "";
            background: url("../../assets/icon-tick.svg") no-repeat center center;
            background-size: 10px 8px;
            width: 20px;
            height: 20px;
        }
    }
}

.validation-errors {
    color: $color-danger;
    font-size: 14px;
}

.button-social {
    height: 33px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.08px;
    border-radius: 3px;
    border: solid 1px #cccdcf;
    background: #fff;
    @include flex(center, center);

    img,
    i {
        margin-right: 5px;
    }
}
