.button-solid {
    width: 240px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #ce596b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
