version: "3.7"
services:
  postgres:
    image: mdillon/postgis:9.6-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=fieldkit
      - POSTGRES_USER=fieldkit
      - POSTGRES_PASSWORD=password
    volumes:
      - ./active-schema:/docker-entrypoint-initdb.d/:ro
