.alignXY {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.alignX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.alignY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}