
<!doctype html> 
<html> 
<head>     
    <title>FIELDKIT - ADMIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/src/css/index.css">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6479954/6270552/css/fonts.css" />
</head>
<body>
  <div id="fieldkit">
    <div id="root">
      <div id="header">
        <h1>FIELDKIT</h1>
        {{!-- <img id="logo" src="/src/img/logo.svg" alt="Fieldkit logo"/> --}}
      </div>
      <div id="content" style={height} className={contentActive ? '' : 'hidden'}>
        <div id="loadingWheel">
          <div class="wheel"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/dist/dll/dll.vendor.js"></script>
  {{#each htmlWebpackPlugin.files.js}}
    <script src="/{{this}}"></script>
  {{/each}}
</body>
</html>