
html, body {
  background-color: white;
  padding: 0;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-size: 14px;
  margin: 0;
  line-height: 25px;
  min-width: 1024px;
}

p {
  margin-top: 0;
}

p.intro {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 {
  color: #D0462C;
  font-weight: 100;
  font-size: 48px;
  line-height: 60px;
}

h2 {
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}

h3 {
  color: black;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

h5 {
  color: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

div.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #D0462C;
  color: white;
  padding: 0 8px;
  height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.08em;
  text-align: center;
  cursor: pointer;
  line-height: 36px;
}

  div.button.disabled {
    background-color: #DFDFCF;
    cursor: auto;
  }

div.button.secondary {
  background-color: transparent;
  border: 1px solid #D0462C;
  color: #D0462C;
  border-radius: 3px;
}

  div.button.secondary.disabled {
    background-color: transparent;
    border-color: none;
    background-color: #DFDFCF;;
  }

div.Dropdown-root {
  height: 32px;
  line-height: 32px;
  border: 1px solid #bbb;
  padding: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

  div.Dropdown-control {
    position: relative;
  }

    span.Dropdown-arrow {
      position: absolute;
      right: 0;
      top: 40%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid black;
    }

  div.Dropdown-menu {
    padding: 0 5px;
    width: calc(100% - 10px);
    margin: -1px 0 0 -6px;
    background-color: white;
    border: 1px solid #bbb;
    z-index: 100;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

    div.Dropdown-option {
      margin-left: -5px;
      padding: 0 5px;
      width: 100%;
    }

      div.Dropdown-option:hover {
        background-color: #ddd;
      }

      div.Dropdown-option:not(:last-child) {
        border-bottom: 1px solid #bbb;
      }


table {
  border-collapse: collapse;
  line-height: 20px;
  font-size: 13px;
}

tbody:last-child, tbody:last-child td {
  padding-right: 0;
  border-bottom: 0;
}
  td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 10px 10px;
    vertical-align: top;
  }

    td:first-child {
      padding-left: 0;
    }


td, th, td *, th * {
  vertical-align: top;
} 


  table svg {
    width: calc(100% - 10px);
    height: 40px;
  } 

  table ul {
    margin: 0;
    padding: 0;
    list-style: none;
  } 

    table ul li.tag{
      display: inline-block;
      background-color: #DFDFCF;
      padding: 0 5px;
      border-radius: 3px;
      margin-bottom: 2px;
      margin-right: 2px;
      font-size: 11px;
    } 

ul.tabs {
  margin: 0;
  padding: 0;
  margin-left: -20px;
  list-style: none;
}
  
  ul.tabs li {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #999;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    margin-right: -1px;
  }

    ul.tabs li.active {
      color: black;
      padding: 10px 20px;
      border: 1px solid #999;
      border-bottom: 1px solid white;
    }

    ul.tabs li:last-child:not(.active) {
      border: 0;
      color: black;
    }

    ul.tabs li:hover {
      color: black;
    }

div.selected-tab {
  margin-left: -20px;
  padding: 20px;
  width: 100%;
  margin-top: -1px;
  border: 1px solid #999;
  margin-bottom: 40px;
}



.activity svg {
  background-color: #DFDFCF;
  height: 40px;
}

  .page {
    display: flex;
  }

    #header {
      width: 18.8%;
      min-height: calc(100vh - 50px);
      display: block;
      padding-bottom: 50px;
      position: relative;
    }

      #header div.background {
        z-index: 0;
        position: fixed;
        width: 18.8%;
        height: 100%;
        background-image: url(/src/img/bkg.jpg);
      }

      #logo {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 1.5vw;
        margin-top: 40px;
      }

        #logo a {
          display:block;
        }

          #logo a:first-child {
            align-self: center;
            margin-right: 20px;
          }

            #logo a:first-child img {
              width: 100%;
            }

          #logo a:last-child {
            flex: 0;
          }

            #logo a:last-child img {
            }

      .project {
        padding: 1.5vw 1.5vw;
        position: relative;
        margin-top: 40px;
      }

        .project:last-child {
          padding-bottom: 0;
        }

        .project:not(:nth-child(3)) {
          margin-top: 0px;
        }

        .project::before {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #D0462C;
            mix-blend-mode: multiply;
        }

          .project .project-name {
            position: relative;
            background-color: rgba(100,0,50,0.3);     
            padding: 1.5vw;
            margin: -1.5vw 0 2.5vw -1.5vw;
            width: 100%;
          }
            .project .project-name h3{
              color: white;
              font-size: 11px;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 0.1em;
              margin-bottom: 0;
            }

        .project ul.expeditions {
          position: relative;
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 10px;
          font-size: 13px;
          padding-bottom: 40px;
        }

          .project ul.expeditions li h4 {
            font-weight: normal;
            text-transform: capitalize;
          }

            .project ul.expeditions li.new-expedition {
              margin-top: 30px;
            }

              .project ul.expeditions li.new-expedition h4 {
                border-radius: 3px;
                background-color: rgba(100,0,50,0.2);  
                font-size: 13px;
                font-weight: normal;
                margin-left: 0;
                padding: 10px 9px;
                width: 100%;
                border: 1px solid rgba(100,0,50,0.8);
                display: inline;
                color: rgb(255,220,200);
              }

/*            .project ul.expeditions li.new-expedition h4 span {
              border-radius: 3px;
              padding: 0px 5px 4px;
              background-color: #D0462C;
              margin-left: 5px;
            }*/

        .project ul.sections {
          margin-bottom: 20px;
          list-style: none;
          padding: 0 0 0 10px;
        }

          .project ul.sections li {
            margin-bottom: 5px;
          }
/*
          .project ul.sections li:first-child {
            background-color: #D0462C;
            width: auto;
            display: inline-block;
            padding: 2px 10px;
            margin-left: -10px;
            border-radius: 3px;
          }*/


        .project a {
          color: white;
        }

          .project ul.sections a {
            color: rgb(255,220,200);
            letter-spacing: 0.05em;
          }

      .page .page-content {
        width: 65.6%;
        padding: 40px 7.8vw;
      }

.section {}

  .section .call-to-action div.button {
    margin-right: 20px;
  }

    .section .call-to-action a:not(:first-child) div.button {
      margin-left: 20px;
    }

#teams-section {}

  #teams-section .editable div {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 4px;
    margin: 0 -4px;
  }

    #teams-section .editable div:hover {
      border-color: #D0462C;
    }

  #teams-section .editable.required div {
    border-color: #D0462C;
  }

  #teams-section .selected-tab div.actions {
    width: 100%;
    height: 40px;
  }

  #teams-section .selected-tab div.actions div.button {
    float:right;
    margin-left: 10px;
  }

  #teams-section .selected-tab div.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

    #teams-section .selected-tab div.header .column  {
      flex-basis: 42.8%;
    }

      #teams-section .selected-tab div.header .description div {
        padding: 10px;
        border: 1px solid #DFDFCF;
        border-radius: 3px;
        margin-top: 10px;
      }

        #teams-section .selected-tab div.header .description div:hover {
          border-color: #D0462C;
        }

      #teams-section .selected-tab div.header svg  {
        height: 40px;
        background-color: #DFDFCF;
      }

  table.objects-list {
    width: 100%;
  }

    table.objects-list tbody:not(:first-child) {
      /*cursor: pointer;*/
    }

    #teams-section table.objects-list .name {
      width: 15%;
    }

    #teams-section table.objects-list .role {
      width: 20%;
    }

    #teams-section table.objects-list .inputs {
      width: 20%;
    }

    #teams-section table.objects-list .activity {
      width: 20%;
      cursor: pointer;
    }

    #teams-section table.objects-list .remove {
      width: 5%;
      cursor: pointer;
      padding-right: 0;
    }

    #new-inputs-section table.objects-list .name {
      width: 25%;
    }

    #new-inputs-section table.objects-list .description {
      width: 35%;
    }

    #new-inputs-section table.objects-list .inputs {
      width: 35%;
    }

      #new-inputs-section table.objects-list .inputs li:not(:last-child) {
        margin-bottom: 20px;
      }

    #new-inputs-section table.objects-list .remove {
      width: 5%;
      cursor: pointer;
      text-align: right;
      padding-right: 0;
    }
    
    table.objects-list td.add-object {}

      table.objects-list td.add-object div.add-object-container {
        display: flex;
        position: relative;
        padding-right: 10px;
      }

        table.objects-list td.add-object div.Select {
          flex-grow: 1;
          padding-right: 10px;
        }

        table.objects-list td.add-object div.add-object-container div.input{
          flex-grow: 1;
        }

          table.objects-list td.add-object div.add-object-container div.input input{
            width: calc(100% - 20px);
            height: 27px;
            font-size: 14px;
            padding: 1px 10px;
            font-weight: bold;
            border: 1px solid #ccc;
            border-top-left-radius: 3px;
          }

        table.objects-list td.add-object div.add-object-container div.button{
          border-radius: 3px;
          height: 36px;
          flex-basis: auto;
          line-height: 36px;
          vertical-align: middle;
        }

        table.objects-list td.add-object div.add-object-container ul.suggested-objects{
          position: absolute;
          top: 31px;
          border: 1px solid #ddd;
          width: 99%;
          margin-top: -1px;
          overflow-y: auto;
          overflow-x: hidden;
        }

          table.objects-list td.add-object div.add-object-container ul.suggested-objects li{
            padding: 15px 10px;
            background-color: white;
            font-weight: bold;
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
            cursor: auto;
          }

            table.objects-list td.add-object div.add-object-container ul.suggested-objects li.suggested-member{
              cursor: pointer;
            }

              table.objects-list td.add-object div.add-object-container ul.suggested-objects li.suggested-member:hover{
                background-color: #ddd;
              }

            table.objects-list td.add-object div.add-object-container ul.suggested-objects li span{
              font-weight: normal;
            }

.section-actions {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

  .section-actions li {
    display: inline-block;
    margin-left: 20px;
  }

.spinning-wheel-container{
  display: inline-block;
  height: 16px;
  margin: 0 10px;
}

  .spinning-wheel {
    margin: 10% auto;
    border-bottom: 4px solid #DFDFCF;
    border-left: 4px solid #DFDFCF;
    border-right: 4px solid #c30;
    border-top: 4px solid #c30;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    -webkit-animation: spin .6s infinite linear;
    -moz-animation: spin .6s infinite linear;
    -ms-animation: spin .6s infinite linear;
    -o-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear;
  }

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

#admin-page {}

  #admin-page div.modal-container {
    position: absolute;
    z-index: 100;
    background-color: rgba(200,200,200,0.7);
    width: 100vw;
    height: 100vh;
  }

    #admin-page div.modal-container div.modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 50px;
      background-color: white;
    }

      #admin-page div.modal-container div.modal div.actions{
        text-align: center;
      }

        #admin-page div.modal-container div.modal div.actions div.button{
          margin: 0 5px;
        }

div.Select span.Select-arrow {
  vertical-align: middle;
}

ul.main-input-container {
  list-style: none;
  padding: 0;
}

  ul.main-input-container li{
    list-style: none;
    padding: 20px;
    border: 1px solid #bbb;
    margin-top: -1px;
    position: relative;
    cursor: pointer;
  }

    ul.main-input-container li.selected{
      border-color: #D0462C;
      z-index: 10;
    }
