


    #header {
      width: 18.8%;
      min-height: calc(100vh - 50px);
      display: block;
      padding-bottom: 50px;
      position: relative;
    }

      #header div.background {
        z-index: 0;
        position: fixed;
        width: 18.8%;
        height: 100%;
      }

      #logo {
        position: relative;
        justify-content: space-between;
        padding: 0 1.5vw;
        margin-top: 40px;
        margin-bottom: 40px;
      }

        #logo a {
          display:block;
        }

          #logo a:first-child {
            align-self: center;
            margin-right: 20px;
          }

            #logo a:first-child img {
              width: 100%;
            }

          #logo a:last-child {
            flex: 0;
          }

            #logo a:last-child img {
            }

      .project {
        padding: 1.5vw 1.5vw;
        position: relative;
        margin-top: 40px;
      }

        .project:last-child {
          padding-bottom: 0;
        }

        .project:not(:nth-child(3)) {
          margin-top: 0px;
        }

        .project::before {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #D0462C;
            mix-blend-mode: multiply;
        }

          .project .project-name {
            position: relative;
            background-color: rgba(100,0,50,0.3);     
            padding: 1.5vw;
            margin: -1.5vw 0 2.5vw -1.5vw;
            width: 100%;
          }
            .project .project-name h3{
              color: white;
              font-size: 11px;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 0.1em;
              margin-bottom: 0;
            }

        .project ul.expeditions {
          position: relative;
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 10px;
          font-size: 13px;
          padding-bottom: 40px;
        }

          .project ul.expeditions li h4 {
            font-weight: normal;
            text-transform: capitalize;
          }

            .project ul.expeditions li.new-expedition {
              margin-top: 30px;
            }

              .project ul.expeditions li.new-expedition h4 {
                border-radius: 3px;
                background-color: rgba(100,0,50,0.2);  
                font-size: 13px;
                font-weight: normal;
                margin-left: 0;
                padding: 10px 9px;
                width: 100%;
                border: 1px solid rgba(100,0,50,0.8);
                display: inline;
                color: rgb(255,220,200);
              }

        .project ul.sections {
          margin-bottom: 20px;
          list-style: none;
          padding: 0 0 0 10px;
        }

          .project ul.sections li {
            margin-bottom: 5px;
          }

        .project a {
          color: white;
        }

          .project ul.sections a {
            color: rgb(255,220,200);
            letter-spacing: 0.05em;
          }

      .page .page-content {
        width: 65.6%;
        padding: 40px 7.8vw;
      }

  .section .call-to-action div.button {
    margin-right: 20px;
  }

    .section .call-to-action a:not(:first-child) div.button {
      margin-left: 20px;
    }

.section-actions {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

  .section-actions li {
    display: inline-block;
    margin-left: 20px;
  }


