.btn {
	display: inline-block;
	color: white;
	padding: 3px 8px;
	margin: 10px auto;
	background-color: $color-accent;
	mix-blend-mode: multiply;
	border: 1px solid darken($color-accent, 5%);
	border-radius: 3px;
	outline: none;
	cursor: pointer;

	text-transform: uppercase;
	font-weight: 700;
  	font-size: 10px;
  	letter-spacing: 0.05em;
  	text-align: center;

	transition: background 0.3s;

	&:hover {
		background-color: darken($color-accent, 5%);
	}

	.disabled {
		background-color: $color-disabled;
		cursor: auto;

		&:hover {
			background-color: $color-disabled;
		}
	}
}

a.btn:hover {
	color: white !important;
}

.btn-secondary {
	background-color: transparent;
	border: 1px solid $color-accent;
	color: $color-accent;

	.disabled {
		background-color: transparent;
		border-color: $color-disabled;
		
		&:hover {
			background-color: transparent;
		}	
	}
}

a.btn-secondary:hover {
	color: $color-accent !important;
}

.btn-lg {
	font-size: 14px;
	padding: 9px 17px;
}