.panel {
	background: white;
	box-shadow: 0px 0px 5px rgba($color-dark, 0.1);
}

.panel_body, .panel_content {
	padding: 15px 40px;
}

.panel_header {
	padding: 15px 40px;
	border-bottom: 1px solid $color-neutral-20;
}

.panel_footer {
	padding: 10px 40px;
	border-top: 1px solid $color-neutral-20;
}