#timeline {
  position: absolute;
  width: $line-width * 2;
  height: (100vh - $line-height * 2);
  top: $line-height;
  left: $line-width;

  & svg {
    width: 100%;
    height: 100%;

    & rect {
      transition: width 0.2s, x 0.2s;
    }

  }
}