
.expedition-panel {
  position: absolute;
  z-index: 100;
  color: purple;
  height: 100vh;
  width: 100vw;
  left: 0;
  transition: left 0.3s;

  &:not(.active) {
    left: -$line-width * 17;
    pointer-events: none;
  }

  .content {
    pointer-events: auto;
    background-color: white;
    width: $line-width * 16;
    height: 100%;
    padding: $line-width * 2;
    box-shadow: 0 0 $line-width rgba(0, 0, 0, 1);
  }
}