
.navigation {
  flex-basis: $line-width * 8;
  display: flex;
  pointer-events: auto;
  z-index: 1;
  justify-content: space-between;

  &_link {
    flex-grow: 1;
    color: white;
    text-align: center;

      &:not(.active) {
        opacity: 0.5;
      }

      &:hover {
        opacity: 1;
        color: $color-accent;
      }
  }
}