
.lightbox {
  position: absolute;
  z-index: 10;

  &_map-overlay {
    position: absolute;
    left: $line-width * -5;
    top: $line-height * -5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
  }

  &_content {
    position: relative;
    height: 100vh - ($line-height * 5);
    overflow-y: scroll;
    width: $line-width * 66;
    display: flex;

    &_type {
      flex-basis: $line-width * 2;
      margin-right: $line-width * 2;
    }

    &_main {
      flex-grow: 1;
    }

    &_type {
      flex-basis: $line-width * 2;
      margin-left: $line-width * 2;
    }
  }
}