#root {
    height: 100vh;

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unauth {
    flex: 1;
    max-width: 512px;

    .contents {
        width: 100%;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);

        header {
            padding: 10px 20px;
            background: #dddddd;
        }

        .errors {
            border-radius: 3px;
            border: 1px solid #f66b6b;

            padding: 10px;
            margin: 5px 0;

            background: #ff9d9d;
        }

        form {
            padding: 10px 20px;

            .group {
                margin: 15px 0;

                &.with-errors input {
                    background: #ff9d9d;
                }
            }

            input[type="text"], input[type="password"], input[type="email"], input[type="submit"] {
                width: 100%;
            }

            input[type="submit"] {
                cursor: pointer;
                margin: 10px 0;
            }
        }
    }
}
