@import 'App.scss';

.main {
  width: 100vw;
  height: 100vh;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: $col-gutter;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .project-name {
      @include type-h1;
      flex-grow: 1;
      line-height: 58px;
      margin-bottom: 0;
    }

    .nav-bar {
      @include type-body-2;
      height: 100%;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 56px;

      .navigation-tabs {
        height: 100%;
        line-height: 56px;

        a {
          display: inline-block;
          text-align: center;
          text-decoration: none;

          &:not(:first-child) {
            margin-left: 40px;
          }

          span {
            margin: 0 $elements-padding/2;
          }

          &::after {
            content: '';
            display: block;
            background-color: white;
            height: 2px;
            position: relative;
            top: -16px;
            left: 50%;
            width: 0;
            transition-property: width, left;
            transition-duration: 0.25s;
          }

          &.active {
            &::after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
}
