@import 'App.scss';

.sensors.page {

  background-color: #333;
  padding-top: $baseline-height * 12;

  min-height: 100%;

  .chart {
    width: 400px;
    height: 300px;
  }

  svg {
    text {
      fill: white;
    }
    path {
      fill: none;
    }
    path,
    line {
      stroke: white;
    }
  }
}
