@import 'App.scss';
@import '../images/fa/scss/font-awesome.scss';

$grid-columns: 12;
$grid-max-width: 100%;

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

html, body {
    overflow-x: hidden;
    background-color: #161719;
}

.source.page {

    .main-container {
        display: flex;
        overflow: hidden;
        height: 100vh;
        margin-top: -100px;
        padding-top: 100px;
        position: relative;
        width: 100%;
        backface-visibility: hidden;
        will-change: overflow;
    }

    .middle-container, .side-container {
        overflow: auto;
        height: auto;
        padding: .5rem;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none; 
    }

    .middle-container::-webkit-scrollbar, .side-container::-webkit-scrollbar {
        display: none;
    }

    .middle-container {
        flex: 1;
    }

    .side-container {
        width: 400px;

        .map {
            width: 100%;
            height: 300px;

            .disclaimer-panel {
                display: none;
            }
        }
    }

    .readings {
        .reading-container {
            padding: 0px 10px 10px 10px;
            height: 354px;
        }

        .reading {
            background-color: #212124;
            padding: 10px;

            .title {
                font-weight: bold;
                font-size: 1.3em;
            }
        }
    }

    .header {
        padding: $col-gutter;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        height: 100px;
        position: relative;
        z-index: 10;

        .project-name, .project-name a {
            @include type-h1;
            flex-grow: 1;
            line-height: 30px;
            margin-bottom: 0;
            font-weight: bold;
            color: white;
        }
    }

    .feature-panel {
        color: #999999;

        td, th {
            color: #999999;
        }
    }

    .source-name {
        @include type-h1;
        flex-grow: 1;
        line-height: 38px;
        margin-bottom: 0;
        font-weight: bold;
        color: white;
    }
}

.grid {
    *, *:after, *:before {
        margin: 0;
        padding: 0;
        @include border-box;
    }

    img {
        width: auto;
        max-width: 100%;
        height: auto !important;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .wrapper, .row {
        @extend %clearfix;
    }

    [class*='column-'] {
        float: left;
        padding: 0.0em;
        width: 100%;
        min-height: 1px;
    }

    @media #{$breakpoint-medium} {
        .wrapper {
            // width: 95%;
            max-width: $grid-max-width;
        }
        @for $i from 1 through $grid-columns {
            .column-#{$i} {
                width: 100% / $grid-columns * $i;
            }
        }
    }
}

.criteria-panel {
    .drawer {
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 10;
        background-color: #161719;
        border-radius: 0 0 0 4px;
        box-shadow: 0 0 30px 0 #000;
        padding: 20px;
        width: 390px;
        float: left;

        ul {
            list-style: none;
            float: left;
            margin: 0 30px 10px 0;
        }

        ul {
            padding: 0;
        }

        li {
            cursor: pointer;
        }
    }

    .button {
        cursor: pointer;
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
        background-color: #2a2a2c;
        background-image: linear-gradient(180deg,#262628,#303032);
        background-repeat: repeat-x;
        border-color: #262628;
        display: inline-block;
        font-weight: 500;
        padding: 6px 11px;
        line-height: 16px;
        color: #8e8e8e;
        border: 1px solid #2f2f32;
        margin-right: 3px;
        white-space: nowrap;
    }
}
