
@import 'utils/reset';
@import 'utils/align';
@import 'utils/font-awesome/font-awesome.scss';

@import 'common/variables';
@import 'common/type';
@import 'common/page';

@import 'common/ControlPanel';
@import 'common/Timeline';

@import 'Root/Root';
@import 'Root/Header';
@import 'Root/Navigation';

@import 'Map/Map';
@import 'Map/DOMOverlay';

@import 'MapPage/MapPage';
@import 'MapPage/NotificationPanel';

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html, body {
  color: $color-white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-size: 14px;
  line-height: 25px;
  min-width: 1024px;
  width: 100%;
  height: 100%;
}

#fieldkit {
  width: 100%;
  height: 100%;
  position: relative;
}