$color-accent : #D0462C;
$color-disabled : #DFDFCF;
$color-dark : #181a1b;

$color-neutral-20 : lighten($color-dark, 80);
$color-neutral-10 : lighten($color-dark, 90);

$line-width: 1.388888889vw;
$line-height: 2.487562189vh;
