html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html, body {
  width: 100%;
  min-height: 100%;
  color: white;
  font-size: 13px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left; }

html {
  height: 100%; }

a:link, a:visited, a:hover, a:active {
  color: white; }

h1 {
  font-size: 36px;
  line-height: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 24px; }

h2 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; }

h3 {
  font-size: 20px;
  line-height: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

h4 {
  font-size: 20px;
  line-height: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px; }

h5 {
  font-size: 10px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px; }

.type-small {
  font-size: 11px;
  line-height: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.main {
  width: 100vw;
  height: 100vh; }
  .main .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline; }
    .main .header .project-name {
      font-size: 36px;
      line-height: 48px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
      margin-bottom: 24px;
      flex-grow: 1;
      line-height: 58px;
      margin-bottom: 0; }
    .main .header .nav-bar {
      font-size: 13px;
      line-height: 24px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600;
      height: 100%;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 56px; }
      .main .header .nav-bar .navigation-tabs {
        height: 100%;
        line-height: 56px; }
        .main .header .nav-bar .navigation-tabs a {
          display: inline-block;
          text-align: center;
          text-decoration: none; }
          .main .header .nav-bar .navigation-tabs a:not(:first-child) {
            margin-left: 40px; }
          .main .header .nav-bar .navigation-tabs a span {
            margin: 0 6px; }
          .main .header .nav-bar .navigation-tabs a::after {
            content: '';
            display: block;
            background-color: white;
            height: 2px;
            position: relative;
            top: -16px;
            left: 50%;
            width: 0;
            transition-property: width, left;
            transition-duration: 0.25s; }
          .main .header .nav-bar .navigation-tabs a.active::after {
            width: 100%;
            left: 0; }

/*# sourceMappingURL=main.css.map */