{
  "rules": {
    "no-extra-parens": 0,
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1,
  },
  "ecmaFeatures": {
    "jsx": true,
  },
  "env": {
    "node": false,
    "browser": true,
    "es6": true,
  },
  "parser": "babel-eslint",
  "plugins": [
      "eslint-plugin-react"
  ]
}