
#teams-section table.objects-list .name {
  width: 15%;
}

#teams-section table.objects-list .role {
  width: 20%;
}

#teams-section table.objects-list .inputs {
  width: 20%;
}

#teams-section table.objects-list .activity {
  width: 20%;
  cursor: pointer;
}

#teams-section table.objects-list .remove {
  width: 5%;
  cursor: pointer;
  padding-right: 0;
}