
.data-page {
  position: relative;
  z-index: 1;

  &_map-overlay {
    position: absolute;
    left: $line-width * -5;
    top: $line-height * -5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
  }

  &_content {
    position: relative;
    height: 100vh - ($line-height * 5);
    overflow-y: scroll;
    width: $line-width * 66;
    padding: 0 $line-width * 14;
  }
}