
.notification-panel {
  position: absolute;
  right: 0;
  width: $line-width * 18;
  height: calc(100vh - (2.487562189vh * 7));
  overflow: visible;
  pointer-events: none;

  &_title{
        font-weight:bold;
  }
    
  &_post {
    height: auto;
    opacity: 1;
    margin-bottom: $line-height;
    transition: opacity 0.2s, max-height 0.5s ease-in-out, margin-bottom 0.2s ease-in;
    overflow: visible;
    pointer-events: auto;

    &.transition-enter {
      opacity: 0.01;
      max-height: 0px;
      margin-bottom: 0px;
      &-active {
        opacity: 1;
        max-height: 85vh;
        margin-bottom: $line-height;
      }
    }

    &.transition-leave {
      transition: opacity 0.2s, max-height 0.5s ease-in-out, margin-bottom 0.5s ease-out;
      max-height: 85vh;
      margin-bottom: $line-height;
      opacity: 1;
      &-active {
        opacity: 0.01;
        max-height: 0px;
        margin-bottom: 0px;
      }
    }

    &_content {
      color: $color-dark;
      background-color: white;
      border-radius: 3px;
      padding: $line-width;
      padding-right: $line-width * 5;
      word-wrap: break-word;

      &_icon {
        position: absolute;
        right: $line-width;
        width: $line-width * 3;
        height: $line-width * 3;
        padding: $line-width / 2;
        border: 1px solid #eee;

        & img {
        }
      }
    }


  }

}
