
@import 'utils/reset';
@import 'utils/align';
@import 'utils/font-awesome/font-awesome';
@import 'utils/mailchimp';

@import 'common/variables';
@import 'common/type';
@import 'common/panel';
@import 'common/label';
@import 'common/form-group';
@import 'common/button';
@import 'common/input';
@import 'common/dropdown';
@import 'common/select';

@import 'LandingPage/LandingPage';
@import 'LandingPage/Signup';
@import 'LandingPage/Signin';

@import 'AdminPage/AdminPage';
@import 'AdminPage/Navigation';
@import 'AdminPage/Expedition/TeamsSection';
@import 'AdminPage/NewExpeditionPage/InputsSection';


* {
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

html, body {
	background-color: white;
	color: $color-dark;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
	font-size: 14px;
	line-height: 25px;
	min-width: 1024px;
  overflow-x: hidden;
}