@import 'variables';

@import 'utils/reset';
@import 'utils/align';

@import 'components/type';
@import 'components/button';

@import 'pages/landing';

* {
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

html, body {
	background-color: white;
	color: $color-dark;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
	font-size: 14px;
	line-height: 25px;
	min-width: 1024px;
}