@import 'utils/reset';

//-------------------- ALIGN --------------------//
// TO DO: remove these from here and move to Landing.scss
.alignXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alignX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.alignY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//-------------------- RESPONSIVE --------------------//

@mixin for-phone-down {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 900px) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 1200px) { @content; }
}

@mixin for-desktop-down {
  @media (max-width: 1799px) { @content; }
}

@mixin for-big-desktop-only {
  @media (min-width: 1800px) { @content; }
}

//---------------------- LAYOUT ----------------------//
$col-gutter: 30px;
$baseline-height: 12px;
$elements-margin: $baseline-height;
$elements-padding: $baseline-height;

$avatar-size-medium: $baseline-height*3.5;
$avatar-size-small: $baseline-height*2.5;

$icon-size-small: $baseline-height;
$icon-size-medium: $baseline-height*1.5;

$modal-width: 618px;

.row {
  width: 100%;
}

.column {
  display: inline-block;
  vertical-align: top;
  &:not(:first-child) {
    margin-left: $col-gutter;
  }
}
.one-column     { @extend .column; width: calc((100% - 3*#{$col-gutter}) * 1/4); }
.two-columns    { @extend .column; width: calc((100% - 3*#{$col-gutter}) * 2/4 + 1*#{$col-gutter}); }
.three-columns  { @extend .column; width: calc((100% - 3*#{$col-gutter}) * 3/4 + 2*#{$col-gutter}); }
.four-columns   { @extend .column; width: 100%; }

// Main
@mixin content-width {
  width: 834px;
  margin: auto;
  @include for-tablet-portrait-down {
    width: calc(100% - #{$col-gutter}*2);
  }
}

//---------------------- COLOR -----------------------//
$color-1: rgb(194, 38, 0);
$color-2: rgb(223, 37, 13);
$color-3: rgb(236, 17, 52);
$color-4: rgb(249, 189, 82);
$color-5: rgb(255, 229, 169);
$color-6: rgb(223, 223, 107);
$gray-1: rgb(50, 50, 50);
$gray-2: rgb(90, 90, 90);
$gray-3: rgb(170, 170, 170);
$gray-4: rgb(236, 236, 236);
$gray-5: rgb(248, 248, 248);

//-------------------- TYPOGRAPHY --------------------//

// Variables
// $font-serif: 'Merriweather', serif;
// $font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans: sans-serif, "Helvetica Neue", Helvetica, Arial;

// Styles
@mixin type-h1 {
  font-size: 36px;
  line-height: $baseline-height*4;
  font-family: $font-sans;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: $baseline-height*2;

  @include for-phone-down {
    // font-size: 21px;
    // line-height: 26px;
  }
}

@mixin type-h2 {
  font-size: 30px;
  line-height: $baseline-height*3;
  font-family: $font-sans;
  font-weight: 400;
  // color: $gray-3;

  @include for-phone-down {
    // font-size: 16px;
    // line-height: 21px;
  }
}

@mixin type-h3 {
  font-size: 20px;
  line-height: $baseline-height*4;
  font-family: $font-sans;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin type-h4 {
  font-size: 20px;
  line-height: $baseline-height*3;
  font-family: $font-sans;
  font-weight: 600;
  letter-spacing: 0.5px;
}

@mixin type-h5 {
  font-size: 10px;
  line-height: $baseline-height*2;
  font-family: $font-sans;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin type-intro {
  font-size: 16px;
  line-height: $baseline-height*2;
  font-family: $font-sans;
}

@mixin type-body-1 {
  font-size: 16px;
  line-height: $baseline-height*2;
  font-family: $font-sans;
}

@mixin type-body-2 {
  @include type-body-1;
  font-weight: 600;
}

@mixin type-small {
  font-size: 13px;
  line-height: $baseline-height*2;
  font-family: $font-sans;
  color: $gray-3;
}

@mixin type-button {
  font-size: 10px;
  line-height: $baseline-height*2.5;
  font-family: $font-sans;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin shadow($weigth, $inset: false) {
  box-shadow: 0 0 $weigth 0 rgba(0,0,0,0.12), 0 $weigth $weigth 0 rgba(0,0,0,0.18);
  @if $inset == true {
    box-shadow: 0 0 $weigth 0 rgba(0,0,0,0.12), 0 $weigth $weigth 0 rgba(0,0,0,0.18), inset 0 1px 2px rgba(0, 0, 0, 0.12);
  }
}


//-------------------- INTERACTION --------------------//
@mixin button ($primary: true){
  display: inline-block;
  padding: 0 $elements-padding;
  border-radius: 3px;
  border: 2px solid $color-2;
  cursor: pointer;
  @include type-button;
  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: 0.25s;

  &:not(:last-child) {
    margin-right: $elements-margin;
  }

  // &:not(:first-child) {
  //   margin-left: $elements-margin;
  // }

  @if $primary == true {
    color: white;
    background-color: $color-2;
    @include shadow(1px);

    &:hover {
      background-color: lighten($color-2, 12%);
      border-color: lighten($color-2, 6%);
      @include shadow(2px);
    }

    &:active {
      background-color: lighten($color-2, 18%);
      border-color: lighten($color-2, 12%);
      @include shadow(1px);
    }

    &:disabled {
      background-color: $gray-4;
      border-color: $gray-4;
      box-shadow: none;
    }

  // Secondary button
  } @else {
    color: $color-2;
    background-color: white;

    &:hover {
      background-color: white;
      color: lighten($color-2, 12%);
      border-color: lighten($color-2, 12%);
    }

    &:active {
      background-color: white;
      color: lighten($color-2, 24%);
      border-color: lighten($color-2, 24%);
    }

    &:disabled {
      color: $gray-4;
      border-color: $gray-4;
      box-shadow: none;
    }
  }
}

@mixin form {
  display: inline-block;
  padding: 0 $elements-padding/2;
  color: $gray-2;
  background-color: white;
  border: 1px solid $gray-4;
  border-radius: 3px;
  @include type-body-1;
  line-height: $baseline-height*2.5;
  transition: box-shadow 0.25s;
  // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);

  &:not(:last-child) {
    margin-right: $elements-margin;
  }

  // &:not(:first-child) {
  //   margin-left: $elements-margin;
  // }

  &:focus {
    // border-color: $gray-3;
    // @include shadow(2px, true);
    @include shadow(1px);
  }

  &:disabled {
    color: $gray-3;
  }

  &::placeholder {
    color: $gray-3;
  }
}

// -------------------- DROPDOWN GENERIC --------------------//

.dropdown {
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
}
.dropdown--active .dropdown__content {
  display: block;
}

//-------------------- STYLES --------------------//
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  min-height: 100%;
  color: $gray-2;
  @include type-body-1;
  text-align: left;
}

html {
  height: 100%;
}

a:link, a:visited, a:hover, a:active {
  color: $gray-2;
}

h1  { @include type-h1; }
h2  { @include type-h2; }
h3  { @include type-h3; }
h4  { @include type-h4; }
h5  { @include type-h5; }
.type-small { @include type-small; }

strong, b {
  font-weight: 600;
}

button, .button {

  &:not(.bt-icon){
    // Primary button    
    @include button();
    // Secondary button
    &.cancel, &.secondary {
      @include button(false);
    }    
  }
}

// Icon button
.bt-icon {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &.small{
    width: $icon-size-small;
    height: $icon-size-small;
  }

  &.medium{
    width: $icon-size-medium;
    height: $icon-size-medium;
  }

  &:not(:first-child){
    margin-left: $elements-padding;
  }

  svg {
    width: 100%;
    height: auto;
    vertical-align: top;
    fill: $gray-2;    
  }

  &.disabled {
    svg {
      fill: $gray-3;
    }
  }
}

input[type="submit"] {
  @include button();
}

input[type="text"], input[type="email"], input[type="password"], input[type="username"], select {
  @include form;
  &.lg {
    width: 100%;
  }
}

select {
  height: $baseline-height*2.5;
}

label, .label {
  @include type-body-2;
  display: block;
  margin-bottom: $baseline-height/2;
}

.form-group, .url-preview {
  display: block;
  margin-bottom: $baseline-height*1.5;
}

.user-avatar {
  background-color: $gray-4;
  overflow: hidden;
  &.small {
    width: $avatar-size-small;
    height: $avatar-size-small;
    border-radius: $avatar-size-small;    
  }  
  &.medium {
    width: $avatar-size-medium;
    height: $avatar-size-medium;
    border-radius: $avatar-size-medium;    
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }  
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: $baseline-height*1.5;

  &:not(:first-child) {
    margin-top: $baseline-height*2;
  }

  thead {
    background-color: $gray-5;
    @include type-body-2;
    border-bottom: 1px solid white;
    tr {
      height: $baseline-height*4;
      th {
        vertical-align: middle;
        &:first-child {
          border-top-left-radius: 6px;
          padding-left: $elements-padding;
        }
        &:last-child {
          border-top-right-radius: 6px;
          padding-right: $elements-padding;
        }
      }
    }
  }  

  tbody {
    tr {
      height: $baseline-height*5;
      transition-property: background-color;
      transition-duration: 0.5s;
      &:hover {
        background-color: $gray-4;
        // background-color: lighten($gray-1, 50%);
      }
      td {
        vertical-align: middle;
        &:first-child {
          padding-left: $elements-padding;
        }
        &:last-child {
          padding-right: $elements-padding;
        }        
      }
    }
  }
}

.table-border {
  border-bottom: 2px solid $gray-4;
}

.accordion {
  margin-bottom: $baseline-height*1.5;
  .accordion-row {
    &.expanded{
      padding: $elements-padding*2;
      border: 2px solid $gray-4;
      border-radius: 3px;
    }
    .accordion-row-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      nav{
        flex-wrap: wrap;
        margin-right: 0;
      }
    }
  }
}

.gallery-list {
  margin-bottom: $baseline-height*1.5;
  width: 100%;
  .gallery-list-item {
    position: relative;
    display: inline-block;
    height: $baseline-height*15;
    margin-bottom: $col-gutter;
    vertical-align: top;
    background-color: $gray-4;
    background-repeat: no-repeat;
    background-position: center; 
    background-blend-mode: color-burn;
    // background-size: cover;

    &.projects {
      width: 100%;
    }
    &.expeditions {
      width: calc((100% - #{$col-gutter})/2);
      &:not(:first-child) {
        margin-left: $col-gutter;
      }      
    }
    h4 {
      position: absolute;
      left: $elements-padding;
      bottom: $elements-padding;
    }    
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {

  @extend .alignXY;
  width: $modal-width;
  max-height: 100%;
  overflow-y: scroll;
  background-color: white;
  @include shadow(16px);

  h2 {
    background-color: $gray-5;
    padding: $elements-padding*2 $elements-padding*3;
  }

  .form {
    padding: $elements-padding*3;

    .form-footer {
      text-align: right;
      margin-top: $baseline-height*3;
    }
  }
}