{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 140,
    "semi": true,
    "singleQuote": false,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "arrowParens": "always"
}
