@import 'App.scss';

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

#files.page, html, body {
    height: 98%;
}

.files.page {
    height: 100vh;

    .map-container {
        width: 50%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;

        .disclaimer-panel {
            display: none;
        }
    }

    .main-container {
        background-color: #fff;
        width: 50%;
        height: 100%;
        margin-left: 50%;
        overflow: auto;
        padding: 5px;
        font-size: 14px;
    }

    h3, h4, h5 {
        color: black;
    }

    label {
        color: black;
    }

    .notes {
        color: black;
    }
}
