
function getMapboxToken() {
    return 'MAPBOX-TOKEN';
}

function getApiHost() {
    if (/local.fkdev.org/.test(window.location.href)) {
        return 'http://api.local.fkdev.org:8080';
    }
    if (/fkdev.org/.test(window.location.href)) {
        return 'https://api.fkdev.org';
    }
    return 'http://127.0.0.1:8080';
}

export const MAPBOX_ACCESS_TOKEN =  getMapboxToken();
export const MAPBOX_STYLE = 'mapbox://styles/mapbox/satellite-v9';
export const API_HOST = getApiHost();
