function getConfig() {
	return {
		MAPBOX_ACCESS_TOKEN: 'pk.eyJ1Ijoiamxld2FsbGVuIiwiYSI6ImNrMTcyczBscTA1M3gzb29jMzg5Z3F2NjAifQ.N0K5vVYzgRVuCFwXSyKoFw',
		MAPBOX_STYLE: 'mapbox://styles/mapbox/satellite-v9',
		API_HOST: 'http://127.0.0.1:8080',
	};
}

module.exports = getConfig();